
<div class="container">
   <div *ngIf="books != undefined && books.length === 0" class="book-empty">
      <p>You haven't added any book, yet!</p>
   </div>
    <div *ngFor="let book of books" class="book-container">
       <div class="img-container">
          <img [src]="book.imageUrl">
       </div>
       <div class="info">
            <h4>{{book.title}}</h4>
            <p>Author: {{book.author}}</p>
            <p>Published in: {{book.publishingDate}}</p>
            <p>Genre: {{book.genre}}</p>
       </div>
       <div class="btn-container">
            <a [routerLink]="['/book-details/', book.objectId]">Details</a>
       </div>
    </div>
</div>


