<div class="container">
    <div class="book-container">
       <div class="img-container">
           <img src="assets/images/81YOuOGFCJL.jpg">
       </div>
       <div class="info">
            <h4>Harry Potter and the Philosopher's Stone</h4>
            <p>Author: J. K. Rowling.</p>
            <p>Published in: 26 June 1997</p>
            <p>Genre: Fantasy</p>
            <p>Added by: Momchil Petrov</p>
       </div>
       <div class="description">
            <h4>Description:</h4>
            <p>It follows Harry Potter, a young wizard who discovers his magical heritage on his eleventh birthday, when he receives a letter of acceptance to Hogwarts School of Witchcraft and Wizardry. Harry makes close friends and a few enemies during his first year at the school, and with the help of his friends, he faces an attempted comeback by the dark wizard Lord Voldemort, who killed Harry's parents, but failed to kill Harry when he was just 15 months old. </p>
       </div>
    </div>

</div>




