#container {
    margin-top: 20px;
    background-color: rgb(153, 102, 82);
    height: auto;
    box-shadow: 1px 1px 16px 3px rgb(110, 70, 54);
}

#content {
    box-sizing: border-box;
    background-color: rgb(170, 131, 115);
    width: 80%;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 80px;
}
