form.add-book {
    width: 60%;
    margin: 50px auto;
    text-align: center;
}

fieldset {
    border-radius: 10px;
    background-color: rgb(153, 102, 82);
    border: 1px solid rgb(110, 70, 54);
    padding: 30px;
}

p {
    padding-bottom: 0;
    padding-top: 1.5rem;
}

.field {
    margin: auto;
}

input {
    border: 1px solid rgb(110, 70, 54);
    border-radius: 2px;
    background-color:rgb(206, 184, 176);
    width: 70%;
    height: 30px;
    float: right;
}

textarea {
    border: 1px solid rgb(110, 70, 54);
    border-radius: 2px;
    background-color:rgb(206, 184, 176);
    width: 70%;
    height: 120px;
    float: right;
}

button {
    color: black;
    border: 1px solid rgb(110, 70, 54);
    border-radius: 0.3em;
    margin-top: 40px;
    width: 60%;
    background-color: rgb(173, 130, 113);
    height: 40px;
    font-size: 25px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(149, 109, 92);;
}

p.error {
    border-radius: 0.3em;
    color: red;
    padding-top: 0;
}
