<div class="container">
    <form [formGroup]="form" class="register" action="" method="post" (ngSubmit)="register()">
        <fieldset>
            <h2>Register Form</h2>
            <p class="field">
                <label for="name">Username:</label>
                <input class="input-error" type="text" name="name" id="name" placeholder="Ivan" formControlName="name">
            </p>
            <ng-container *ngIf="form.controls.name?.invalid && form.controls.name.touched">
                <p *ngIf="form.controls.name?.errors?.required" class="error">
                    Username is required!
                </p>
                <p *ngIf="form.controls.name?.errors?.minlength" class="error">
                    Username must be at least four characters long!
                </p>
            </ng-container>
            <p class="field">
                <label for="email">Email:</label>
                <input class="input-error" type="email" name="email" id="email" placeholder="ivan_ivanov@gmail.com" formControlName="email">
            </p>
            <ng-container *ngIf="form.controls.email.invalid && form.controls.email.touched">
                <p *ngIf="form.controls.email?.errors?.required" class="error">
                    Email is required!
                </p>
                <p *ngIf="form.controls.email?.errors?.email" class="error">
                    Email is not valid!
                </p>
            </ng-container>
            <p class="field">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" placeholder="******" formControlName="password">
            </p>
            <ng-container *ngIf="form.controls.password?.invalid && form.controls.password?.touched">
                <p *ngIf="form.controls.password?.errors?.required" class="error">
                    Password is required!
                </p>
                <p *ngIf="form.controls.password?.errors?.minlength" class="error">
                    Password must be at least 6 characters!
                </p>
            </ng-container>
            <p>
                <label for="repeatPassword">Repeat password:</label>
                <input type="password" name="repeatPassword" id="repeatPassword" placeholder="******" formControlName="repeatPassword">
            </p>
            <ng-container *ngIf="form.controls.repeatPassword?.invalid && form.controls.repeatPassword?.touched">
                <p *ngIf="form.controls.repeatPassword?.errors?.required" class="error">
                    Password is required!
                </p>
                <p *ngIf="form.controls.repeatPassword?.errors?.sameValue" class="error">
                    Passwords don't match!
                </p>
            </ng-container>
            <button [disabled]="form.invalid">Register</button>
            <p class="text-center">
                Have an account?
                <a routerLink="/login">Log In</a>
            </p>
        </fieldset>
    </form>
</div>

