<div class="container">
    <div class="book-container">
       <div class="img-container">
           <img src="assets/images/81YOuOGFCJL.jpg">
       </div>
       <div class="info">
            <h4>Harry Potter and the Philosopher's Stone</h4>
            <p>Author: J. K. Rowling.</p>
            <p>Published in: 26 June 1997</p>
            <p>Genre: Fantasy</p>
       </div>
       <div class="btn-container">
            <a routerLink="/book-details/asd123">Details</a>
       </div>
    </div>

    <div class="book-container">
        <div class="img-container">
            <img src="assets/images/81YOuOGFCJL.jpg">
        </div>
        <div class="info">
             <h4>Harry Potter and the Philosopher's Stone</h4>
             <p>Author: J. K. Rowling.</p>
             <p>Published in: 26 June 1997</p>
             <p>Genre: Fantasy</p>
        </div>
        <div class="btn-container">
             <a routerLink="/book-details/asd123">Details</a>
        </div>
     </div>
</div>



